<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <title>GC</title>
</head>

<body>
  <h1> Group chat</h1>

  <div id="forVue" class="container">

      <p>
        It has been at least <span class="badge bg-secondary text-break" style="width: 4rem;">{{ counter }}s</span> since you 
        <input v-model="name" :disabled="!ready"/> 
        posted a comment using this client/page.
      </p>

      <textarea  @keyup.enter="publish" v-model="message" :disabled="!ready" class="mb-4 w-100"></textarea>

      <p>Newest comments: </p>

      <div id="comments_div" class="overflow-auto" style="height: 180px;">
       <ol class="list-group list-group-numbered">
        <li v-for="comment in new_comments" class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{ comment.name }}</div>          
            {{ comment.text }}
          </div>
          <span class="text-muted small rounded-pill">{{ comment.date }}</span>
        </li>
       </ol>
      </div>

  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/realm-web@1.2.0/dist/bundle.iife.js"></script>
  <script src="https://unpkg.com/vue@next"></script>

  <script>


// initialize the Mongo-realm app
const mongo = new Realm.App({ id: "app__group_chat-suslo" });

// Create an anonymous credential
const credentials = Realm.Credentials.anonymous();

async function mongo_login() {
    try {
        // Authenticate the user
        console.log('log in with', credentials)
        const user = await mongo.logIn(credentials);
        // `App.currentUser` updates to match the logged in user
        console.assert(user.id === mongo.currentUser.id, 'Wanted %s, got %s', user.id, mongo.currentUser.id)
        console.debug(user)
        console.debug('Logged in with id (more user details in debug):', user.id)
        return user
    } catch(err) {
         console.error("Failed to log in", err);
    }
}   

async function comments_append_loop(comments, new_comments) {
    for await (const change of comments.watch({
      filter: {
        operationType: "insert",
      },
    })) {
      // The change event will always represent a newly inserted comment
      const { documentKey, fullDocument } = change;
      console.debug(`new document: ${documentKey}`, fullDocument);
      new_comments.push(fullDocument)
      Vue.nextTick(
        function() {
          var textarea = document.getElementById('comments_div');
          textarea.scrollTop = textarea.scrollHeight;        
        }
      )
    }
}

async function get_first_and_last(collection) {
  return collection.aggregate([{
   $group: {
      _id: null,
      first: { $first: "$$ROOT" },
      last: { $last: "$$ROOT" }
   }
  }]);
}

async function init(model) {
    
    let user = await mongo_login() 
    model.name = user.id
    const mongodb = mongo.currentUser.mongoClient("mongodb-atlas");
    model.comments_collection = mongodb.db("sample_mflix").collection("comments");
    console.log("Total comments:", await model.comments_collection.count())

    const fl = await get_first_and_last(model.comments_collection)
    console.debug("fl: ", fl)
    const last = fl[0].last
    console.debug("Push: ", last)
    model.new_comments.push(last)

    console.debug("New comments: ", model.new_comments)

    comments_append_loop(model.comments_collection, model.new_comments)

    model.ready = true
}

function pimp_message(model) {
    
    if (model.message.length < 3) {
      console.debug("pimping super short message messge...")
      model.message = "Hello everyone, this is an auto-gen message from " + 
                      model.name +
                      " who posted the last one at least " +
                      model.counter +
                      "s ago (if ever). Cheers!"
    } else {
      console.debug("there is ok message: ", model.message, model.message.length)
    }
}

async function insert(model) {
    if (!model.ready) {
      return
    }

    model.ready = false

    pimp_message(model)

    let document_ = {
        name: model.name,
        email: model.name + '@gc_ps.de',
        movie_id: null,
        text: model.message,
        date: new Date(),   
      }
    model.message = ""
    model.counter = 0
    console.debug("Insert: ", document_)

    result = await model.comments_collection.insertOne(
      document_
    )

    console.debug("Insert result: ", result)

    model.ready = true
}

const vueStuff = {
  data() {
    return {
      counter: 0,
      new_comments: [],
      message: "Hi there!",
      name: "",
      ready: false,
      comments_collection: null
    }
  },
  mounted() {
    console.debug("Mounted, set timer...")
    setInterval(() => { this.counter++ }, 1000)
    console.debug("Connect with MongoDB Atlas Realm...")
    init(this)
  },
  methods: {
    publish() {
      insert(this)
    },
  }
}

Vue.createApp(vueStuff).mount('#forVue')

  </script>
</body>
</html>